<form method='post' enctype="multipart/form-data" action='/poltergeist/fail'>
<input type="file" name='file' id="file">
<input type='hidden' name='hidden' value='hidden'>
<input type='submit' value='submit'>
</form>
