<!DOCTYPE html>
<html>
  <body>
    <a href="#" id="my_link" class="some_class" data="rah!">Link me</a>
    <div class="some_other_class"><p>foobar</p></div>
    <a href="/poltergeist/attributes_properties" onclick="return false;" data-random="42">Loop</a>
    <input type="checkbox" id="checked" checked="checked"/>
    <input type="checkbox" id="unchecked"/>
  </body>
</html>
