<!DOCTYPE html>
<html>
  <body>
    <p id="foo">foo</p>
    <p id="bar">  bar      </p>
    <p id="baz">&nbsp;baz  &nbsp; &nbsp;   </p>
    <p id="qux"> &nbsp; &#x3000; qux  &#x3000; &nbsp; &#x3000;  </p>
  </body>
</html>
