<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://www.tinymce.com/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({mode : "textareas"});
</script>
</head>
<body>
<form action="/poltergeist" method="post">
<textarea name="name"></textarea>
<input type="submit" value="Submit" />
</form>
</body>
</html>
