<!DOCTYPE html>
<html>
<body>
<iframe name="frame"></iframe>
</body>
<script type="text/javascript">
document.getElementsByName('frame')[0].src = 'http://localhost:' + location.port + '/poltergeist/slow';
</script>
</html>
