<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      background: yellow;
    }
  </style>
</head>
<body>
  <iframe src="/poltergeist/click_test" name="inner_frame"></iframe>
</body>
</html>
