<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>

  <body>
    <ul>
      <li><a id="nav" href="/">Home</a></li>
    </ul>
    <a href="/">Link</a>

    <p id="break">Foo<br>Bar</p>
  </body>
</html>
