<!DOCTYPE html>
<html>
  <body>
    We are loading some wanted action here.
    <iframe src="/poltergeist/wanted" name="framename"></iframe>
    <iframe src="/poltergeist/unwanted" name="unwantedframe"></iframe>
    <img src="/poltergeist/wanted" style="height:100px;width:100px;" />
    <script src="/poltergeist/wanted" />
  </body>
</html>
