<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>

  <body>
    <ul>
      <li>Visible</li>
      <li style='display: none'>Display None</li>
      <li style='visibility: hidden'>Hidden</li>
      <li style='opacity: 0.0'>Transparent</li>
    </ul>
    <div>
      <span style='display: none'>Display None</span>
      <span style='visibility: hidden'>Hidden</span>
    </div>
  </body>
</html>
