<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>poltergeist with_js</title>
    <script src="/poltergeist/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/poltergeist/jquery-ui-1.8.14.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/poltergeist/test.js" type="text/javascript" charset="utf-8"></script>

    <style type="text/css">
      #off-the-left {
        position:absolute;
        left: -5000px;
      }
      #hidden_link {
        background: red;
        width: 10px;
        height: 10px;
        display: block;
      }
      #hidden_link span {
        display: none;
      }
      #hidden_link:hover span {
        display: inline;
      }
    </style>
  </head>

  <body>
    <p id="remove_me">Remove me</p>
    <p><a id="remove">Remove</a></p>

    <p><input type="text" id="change_me"></p>
    <p><input type="text" id="change_me_maxlength" maxlength="30"></p>
    <p>
      <label for="change_me_withname">Change me</label>
      <input type="text" name="change_me_withname" id="change_me_withname">
    </p>
    <p><input type="file" name="change_me_file" id="change_me_file"></p>
    <p id="changes"></p>
    <p id="changes_on_input"></p>
    <p id="changes_on_keydown"></p>
    <p id="changes_on_keyup"></p>
    <p id="changes_on_focus"></p>
    <p id="changes_on_blur"></p>
    <p id="changes_on_keypress"></p>
    <p id="value_on_keydown"></p>
    <p id="value_on_keyup"></p>
    <div id="off-the-left"><a href="/" id="foo">O hai</a></div>
    <a href="/" id="hidden_link"><span>Hidden link</span></a>
    <svg id='svg-with-circle'>
      <circle cx="60" cy="60" r="50"/>
    </svg>
  </body>
</html>
