<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>poltergeist with_js</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/poltergeist/test.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <p id="remove_me">Remove me</p>
    <p><a id="remove">Remove</a></p>

    <p><input type="text" id="change_me"></p>
    <p id="changes"></p>
    <p id="changes_on_keydown"></p>
    <p id="changes_on_keyup"></p>
    <p id="changes_on_focus"></p>
    <p id="changes_on_blur"></p>
    <p id="changes_on_keypress"></p>
  </body>
</html>
