<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>poltergeist with_different_resources</title>
  </head>

  <body>
    <img src="unexist.png">

    <a href="/poltergeist/redirect">Do redirect</a>
    <a href="/poltergeist/status/201">Go to 201</a>
    <a href="/poltergeist/status/402">Go to 402</a>
    <a href="/poltergeist/status/500">Go to 500</a>
  </body>
</html>