<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>poltergeist with_js</title>
    <script src="/poltergeist/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/poltergeist/jquery-ui-1.8.14.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/poltergeist/test.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <p id="remove_me">Remove me</p>
    <p><a id="remove">Remove</a></p>

    <p><input type="text" id="change_me"></p>
    <p><input type="text" id="change_me_maxlength" maxlength="30"></p>
    <p>
      <label for="change_me_withname">Change me</label>
      <input type="text" name="change_me_withname" id="change_me_withname">
    </p>
    <p id="changes"></p>
    <p id="changes_on_keydown"></p>
    <p id="changes_on_keyup"></p>
    <p id="changes_on_focus"></p>
    <p id="changes_on_blur"></p>
    <p id="changes_on_keypress"></p>
    <div id="off-the-left" style="position:absolute; left: -5000px;"><a href="/" id="foo">O hai</a></div>
  </body>
</html>
